/* Style The Dropdown Button */
#sortBar {
  background-color: white;
  color: black;
  margin-top: 11px;
  padding: none;
  font-size: 12px;
  border-radius: 3px;
  border-color: grey;
  border-width: 2px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.choices {
  display: flex;
  flex-direction: row;
}

.sortDiv{
  display: flex;
  justify-content: center;
}
.filterDiv{
  display: flex;
  justify-content: center;
}


